<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="panel panel-primary" style="width: 500px; margin: 5% auto;">
    <div class="panel-heading">login</div>
    <div class="panel-body">
        <form action="login" method="post" class="form-horizontal">
            <div class="input-group input-sm" style="margin-bottom: 10px">
                <label class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="input-group input-sm" style="margin-bottom: 10px">
                <label class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></label>
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-block btn-primary btn-default" value="sign in">
            </div>
        </form>
    </div>
</div>
</body>
</html>