<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jcasbin-Menu-Permission</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom style -->
    <style>
        .card-header, .non-collapse-item {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
            cursor: pointer;
        }
        .non-collapse-item p {
            margin-bottom: 0;
            text-align: center;
        }
        .card-body p {
            padding-left: 20px;
        }
        .submenu-background {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-top: 5px;
        }

    </style>
</head>
<body>

<!-- Recursive menu fragment -->
<div th:fragment="menuFragment(menuList, isTopLevel)">
    <div th:each="menu, menuStat: ${menuList}">
        <!-- Items with submenus -->
        <div th:if="${menu.subMenus.size() != 0 && menu.subMenus != null}">
            <div th:if="${isTopLevel}" class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="| #collapse${menuStat.index} |">
                            <span th:src="${menu.url}" th:text="${menu.name}">Menu Name</span>
                        </button>
                    </h4>
                </div>

                <div th:id="|collapse${menuStat.index}|" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div th:replace="this :: menuFragment(${menu.subMenus}, false)"></div>
                    </div>
                </div>
            </div>
            <div th:unless="${isTopLevel}" class="submenu-background">
                <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="| #collapseSub${menuStat.index} |">
                    <span th:src="${menu.url}" th:text="${menu.name}">Submenu Name</span>
                </button>
                <div th:id="|collapseSub${menuStat.index}|" class="collapse">
                    <div th:replace="this :: menuFragment(${menu.subMenus}, false)"></div>
                </div>
            </div>
        </div>

        <!-- No submenu items -->
        <div th:if="${menu.subMenus.size() == 0}">
            <a th:src="${menu.url}" th:text="${menu.name}">Menu Item</a>
        </div>
    </div>
</div>

<div id="main" class="container-fluid">
    <div id="main_nav" class="d-inline-block">
        <div id="accordion">
            <!-- Call the recursive fragment -->
            <div th:replace="this :: menuFragment(${menus}, true)"></div>
        </div>
        <div class="logout-button-container">
            <button id="logoutButton" class="btn btn-danger">log out</button>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var clickableItems = document.querySelectorAll('[src]');
        clickableItems.forEach(function(item) {
            item.addEventListener('click', function() {
                var url = this.getAttribute('src');
                if (url) {
                    window.location.href = url;
                }
            });
        });
        var logoutButton = document.getElementById('logoutButton');
        logoutButton.addEventListener('click', function() {
            sessionStorage.clear();
            localStorage.clear();
            window.location.href = '/casbin';
        });
    });
</script>
</body>
</html>
